<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <servlet-class>servlet.SearchPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPeopleServlet</servlet-name>
    <url-pattern>/peoplesearch/result.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchFacebook</servlet-name>
    <servlet-class>servlet.FacebookResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFacebook</servlet-name>
    <url-pattern>/peoplesearch/facebookResult.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPeopleIntoSesameServlet</servlet-name>
    <servlet-class>servlet.sesame.AddPeopleIntoSesame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPeopleIntoSesameServlet</servlet-name>
    <url-pattern>/peoplesearch/addIntoSesame.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SesameSearchPeopleServlet</servlet-name>
    <servlet-class>servlet.sesame.SesameSearchPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesameSearchPeopleServlet</servlet-name>
    <url-pattern>/peoplesearch/sesameResult.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CacheRetrive</servlet-name>
    <servlet-class>servlet.CacheRetrieve</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SearchForm</servlet-name>
    <servlet-class>servlet.SearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForm</servlet-name>
    <url-pattern>/socialevent/searchForm.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>servlet.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/socialevent/result.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>servlet.Conn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/socialevent/connect.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>servlet.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/socialevent/edit.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Picture</servlet-name>
    <servlet-class>servlet.ViewPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Picture</servlet-name>
    <url-pattern>/socialevent/pic.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SesamePicture</servlet-name>
    <servlet-class>servlet.sesame.SesameViewPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesamePicture</servlet-name>
    <url-pattern>/socialevent/sesamePic.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Autocomplete</servlet-name>
    <servlet-class>servlet.Autocomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autocomplete</servlet-name>
    <url-pattern>/socialevent/autocomplete.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSocialEventIntoSesame</servlet-name>
    <servlet-class>servlet.sesame.AddSocialEventIntoSesame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSocialEventIntoSesame</servlet-name>
    <url-pattern>/socialevent/addIntoSesame.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCities</servlet-name>
    <servlet-class>servlet.sesame.GetCities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCities</servlet-name>
    <url-pattern>/socialevent/getCities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCountries</servlet-name>
    <servlet-class>servlet.sesame.GetCountries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCountries</servlet-name>
    <url-pattern>/socialevent/getCountries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SesameSearchForm</servlet-name>
    <servlet-class>servlet.sesame.SesameSearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesameSearchForm</servlet-name>
    <url-pattern>/socialevent/sesameSearchForm.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SesameResult</servlet-name>
    <servlet-class>servlet.sesame.SesameResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesameResult</servlet-name>
    <url-pattern>/socialevent/sesameResult.jsp</url-pattern>
  </servlet-mapping>
</web-app>